body{
  background-color: #f4f0f0;
  overflow: hidden;
}
.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin: 2em;
}
.container .logo{
  width: 40%;
  height: auto;
  margin-top: 4em;
}
.container a{
  background-color: #06067d;
  color: #f4f0f0;
  text-decoration: none;
  margin-top: 6em;
  border-radius: 10px;
  padding: 0.8em 2em;
  font-size: 1.2em;
  font-weight: 600;
}
a:link{
  color: #f4f0f0;
}
a::after{
  color: #f4f0f0;
}
@media (max-width: 576px){
  .container .logo{
    width: 100%;
    margin-top: 6em;
  }
  .container a{
    padding: 1em 3em;
    font-size: 1.3em;
  }
}
@media (max-width: 900px){
  .container .logo{
    margin-top: 12em;
  }
  .container a{
    width: 100%;
    padding: 1em 0em;
    text-align: center;
    font-size: 1.4em;
  }
}